  
body {
    background-color: #0f0f0f;
    color: #ffffff; /* white text */
    padding-bottom: env(safe-area-inset-bottom);
}
h1, h2, h3, h4, h5, h6, strong, label, small, .year, td {
    color: #ffffff !important;
}
.header {
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center;     /* vertical (if header has height) */
    padding: 16px 0;
}

.logo {
    width: 50vw;       /* half of mobile screen */
    max-width: 320px;
    min-width: 160px;
}
textarea, datalist, input {
    width: 100%;
    max-width: 900px;
    background: #111;
    color: #fff;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 12px;
    font-size: 16px;
    resize: none;        /* prevents dragging */
}
textarea::placeholder {
  color: #ccc;
}

p {
    
    background: #111;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    resize: none;        /* prevents dragging */
}

.card {
    background-color: #1a1a1a;
    border: none;
}
.form-control {
    background-color: #121212;
    color: #ffffff;
    border: 1px solid #333;
}
.form-control:focus {
    background-color: #121212;
    color: #ffffff;
    border-color: #0d6efd;
    box-shadow: none;
}
.btn {
    min-height: 44px;
}
.btn-outline-primary,
.btn-outline-secondary {
    color: #ffffff;
    border-color: #555;
}
/* .btn-outline-primary:hover,
.btn-outline-secondary:hover {
    background-color: #0d6efd;
    border-color: #0d6efd;
} */

.btn.active {
    background-color: #0d6efd;
    border-color: #0d6efd;
    color: #ffffff;
}
.bottom-buttons {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;

  display: flex;
  gap: 10px;
  padding: 10px;

  background: white;   /* or your page color */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1);
}

.btn-search {
  flex: 1;              /* equal width */
  font-size: 1.1rem;    /* smaller font */
  padding: 12px;

}

.form-check-input {
    background-color: #222;
    border-color: #555;
}
.radio-opt{
    display: inline-flex;
  align-items: center;
  gap: 4px;
  width: 30vw;
  max-width: 80px;
  font-size: 13px;
}
.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.form-check-label {
    color: #ffffff; /* captions white */
}
.btn-small {
    padding: 6px 12px;
    font-size: 14px;
}
@media (max-width: 768px) {
    .mobile-search {
        /* position: sticky; */
        bottom: 0;
        background-color: #111;
        padding: 12px;
        box-shadow: 0 -2px 12px rgba(0,0,0,.6);
        z-index: 1000;
    }
    dialog {
        width: 90vw;         /* 90% of viewport width */
    }
        }
.form-select-dark {
    background-color: #000;
    color: #fff;
    border-color: #444;
}

/* dropdown options */
.form-select-dark option {
    background-color: #000;
    color: #fff;
}

/* focus state */
.form-select-dark:focus {
    background-color: #000;
    color: #fff;
    border-color: #888;
    box-shadow: none;
}

/* disabled option (optional) */
.form-select-dark option:disabled {
    color: #777;
}

.form-switch .form-check-input {
  transform: scale(0.8);
}
dialog {
  border: none;
  border-radius: 8px;
  width: 75 vw;
  max-width: 400px;
  padding: 16px;
  box-shadow: 0 10px 30px rgba(127,127,127,.3);
  background-color: #0f0f0f;;
}


tr:nth-child(odd) {
  background-color: #222;
}
.icon-btn {
  min-width: 50px;
  max-height: 16px;
}



